PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=smart_diet
DB_SYNCHRONIZE=true

JWT_SECRET=change_this_access_secret
JWT_REFRESH_SECRET=change_this_refresh_secret
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

BCRYPT_SALT_ROUNDS=10

ML_SERVICE_URL=http://localhost:8000
ML_ANALYSIS_ENDPOINT=/api/predict
ML_ANALYSIS_FILE_FIELD=file
ML_SERVICE_TIMEOUT_MS=15000
